In [20]:
from openpyxl import Workbook, styles
import random
from datetime import datetime

In [9]:
wb = Workbook()

In [10]:
ws = wb.active
ws['A1'] = 42

In [23]:
names = ['Mila', 'Jonas', 'Feriba', 'Kim', 'Rosanna', 'Karl']
grades = ['Gold', 'Silver', 'Bronze']

ws.cell(row=2, column = 1).value = 'Salesperson'
ws.cell(row=2, column=1).font = styles.Font(bold=True, italic=True)
ws.column_dimensions['A'].width = 20
ws.cell(row=2, column = 2).value = 'Grade'
ws.cell(row=2, column = 3).value = 'Value'


for row in range(3, 20):
    ws.cell(row=row, column=1).value = random.choice(names)
    ws.cell(row=row, column=2).value = random.choice(grades)
    ws.cell(row=row, column=3).value = random.randrange(start=1000, stop=25000)
    ws.cell(row=row, column=3).number_format = '#,##0.00 kr'

In [24]:
ws.cell(row=20, column=3).value = "=sum(c3:c19)"

In [41]:
wb.save('output.xlsx')

In [31]:
with open('input.txt', mode='r') as fp:
    txt = fp.read()

In [32]:
txt

'kim;200\nmila;300\njonas;100'

In [40]:
lines = txt.split('\n')
offset_row = 2
offset_col = 5
for idx, line in enumerate(lines):
    items = line.split(';')
    #print(f"{items[0]} har scoren {items[1]}")
    ws.cell(row = idx + offset_row, column = offset_col).value = items[0]
    ws.cell(row = idx + offset_row, column = offset_col + 1).value = items[1]

In [38]:
l = ['mila', 'jonas', 'feriba', 'kim']
for idx, item in enumerate(l, start=1):
    print(f"[{idx}] {item}")

[1] mila
[2] jonas
[3] feriba
[4] kim